/* ---------------------- loadingBlogPage ---------------------- */

.loadingBlogPage {
  background: url(/images/blog/background.jpg) top/cover no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 8.5rem 0 2rem;
  min-height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.blogEntrySkeleton {
  width: clamp(25rem, 80%, 150rem);
  height: 228.8px;
  border-radius: 0.3rem;
  position: relative;
  background: var(--light);
  backdrop-filter: blur(1rem);
  padding: 0.5rem;
}

.loading {
  background: linear-gradient(
    45deg,
    rgb(221, 221, 221),
    rgb(240, 240, 240),
    rgb(221, 221, 221),
    rgb(240, 240, 240)
  );
  background-size: 200% 200%;
  animation: loadingAnimation 2.25s ease infinite;
}

.blogEntrySkeleton > .blogCover {
  width: 25%;
  height: 100%;
  border-radius: 0.3rem;
  box-shadow: 0 0 1px 1px rgb(230, 231, 233);
}

.blogEntrySkeleton > .blogContent {
  position: relative;
  box-shadow: 0 0 1px 1px rgb(230, 231, 233);
  height: 1.5rem;
  width: 75%;
  margin: 1rem 3rem;
  border-radius: 0.3rem;
}
.blogEntrySkeleton > .blogContent::after {
  content: "";
  position: absolute;
  bottom: -20px;
  height: 2px;
  width: 100%;
  border-radius: 0.3rem;
}

@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ---------------------- emptyBlogPage ---------------------- */

.emptyBlogPage {
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100%;
}

.emptyBlogPage h3 {
  margin-bottom: 1rem;
}

.emptyBlogPage p {
  margin-bottom: 4rem;
}

.emptyBlogPage button {
  padding: 1rem 2rem;
  font-weight: 500;
  border-radius: 2px;
  border: 1px solid black;
  transition: margin-left 1s ease;
  cursor: pointer;
}

.emptyBlogPage button:hover {
  margin-left: 2rem;
}

/* ---------------------- blogPage ---------------------- */

.blogPage {
  background: url(/images/blog/background.jpg) top/cover no-repeat;
  background-attachment: fixed;
  padding: 8.5rem 0 2rem;
  min-height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.blogPage .blogHeader {
  width: clamp(25rem, 80%, 150rem);
  background: var(--light);
  position: relative;
  border-radius: 0.3rem;
  overflow: hidden;
  transition: background 0.5s ease-in-out;
  backdrop-filter: blur(1rem);
}

.blogPage .blogHeader:hover {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(1rem);
}

.blogHeader .blogCover {
  width: 25%;
  height: auto;
  overflow: hidden;
  background: white;
  border-radius: 0.3rem;
  margin: 0.5rem;
  box-shadow: 0 0 1px 1px rgb(230, 231, 233);
}

.blogHeader .blogCover img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.blogHeader .blogContent {
  width: 75%;
  margin: 1rem 3rem;
  justify-content: center;
}

a.blogHeader {
  text-decoration: none;
}

.blogHeader .blogContent h2 {
  font-size: 1.1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  transition: all 1s ease;
}

.blogHeader:hover h2 {
  border-bottom: 1px solid var(--accent-primary);
  color: var(--accent-primary);
}

.blogHeader .blogContent h3 {
  font-size: 0.9rem;
  margin: 0.5rem 0;
  color: var(--font-darker);
}

.blogHeader .blogContent p {
  font-size: 0.8rem;
  color: var(--font-darker);
}

.blogHeader .blogContent p.publicationDate {
  font-size: 0.7rem;
  margin: 1rem 0;
  color: var(--font-darker);
}

.blogHeader > .blogContent .markdownContent {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  width: auto;
}

.blogContent .markdownContent > h1,
.blogContent .markdownContent > h2,
.blogContent .markdownContent > h3,
.blogContent .markdownContent > h4,
.blogContent .markdownContent > h5,
.blogContent .markdownContent > h6 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--font-darker);
  padding: 0.25rem 0;
  line-height: 1.2rem;
}

/* ---------------------- media phone ---------------------- */

@media screen and (max-width: 767px) {
  .blogPage .blogHeader {
    background: rgba(255, 255, 255, 0.75);
    width: 90vw;
  }
  .blogHeader .blogContent {
    margin: 2rem 1rem;
  }
  .blogHeader .blogContent h2 {
    border-bottom: 1px solid var(--accent-primary);
    color: var(--accent-primary);
    margin-bottom: 1rem;
    padding: 0;
    width: 100%;
    text-align: left;
  }
}

/* ---------------------- media tablet ---------------------- */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .blogPage .blogHeader {
    background: rgba(255, 255, 255, 0.75);
    width: 90vw;
  }
  .blogHeader .blogContent {
    margin: 1.5rem 1rem;
  }
  .blogHeader .blogContent h2 {
    color: var(--accent-primary);
    border-bottom: 1px solid var(--accent-primary);
    margin-bottom: 1rem;
    width: 100%;
    padding: 0;
    padding-bottom: 0.5rem;
    text-align: left;
  }
}
