/* ---------------------- emptyBlogPage ---------------------- */

.emptyBlogPage {
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100%;
}

.emptyBlogPage h3 {
  margin-bottom: 1rem;
}

.emptyBlogPage p {
  margin-bottom: 4rem;
}

.emptyBlogPage button {
  padding: 1rem 2rem;
  font-weight: 500;
  border-radius: 2px;
  border: 1px solid black;
  transition: margin-left 1s ease;
  cursor: pointer;
}

.emptyBlogPage button:hover {
  margin-left: 2rem;
}

/* ---------------------- blogPage ---------------------- */

.blogPage {
  background: url(/blogBackground.jpg) top/cover no-repeat;
  background-attachment: fixed;
  padding: 8.5rem 0 2rem;
  min-height: 100vh;
  align-items: center;
  gap: 1rem;
}

.blogPage .blogHeader {
  width: clamp(25rem, 80%, 150rem);
  background: var(--light);
  position: relative;
  border-radius: 0.3rem;
  overflow: hidden;
  transition: background 0.5s ease-in-out;
}

.blogPage .blogHeader:hover {
  background: rgba(255, 255, 255, 0.6);
}

.blogHeader .blogCover {
  width: 25%;
  height: auto;
  overflow: hidden;
  background: white;
  border-radius: 0.3rem;
  margin: 0.5rem;
}

.blogHeader .blogCover img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.blogHeader .blogContent {
  width: 75%;
  margin: 1rem 3rem;
  justify-content: center;
}

a.blogHeader {
  text-decoration: none;
}

.blogHeader .blogContent h2 {
  font-size: 1.1rem;
  border-bottom: 1px solid var(--accent-primary);
  color: var(--accent-primary);
  padding: 1rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  transition: all 1s ease;
}

.blogHeader:hover h2 {
  border-bottom: 1px solid white;
  color: white;
}

.blogHeader .blogContent h3 {
  font-size: 0.9rem;
  margin: 0.5rem 0;
  color: var(--font-darker);
}

.blogHeader .blogContent p {
  font-size: 0.8rem;
  color: var(--font-darker);
}

.blogHeader .blogContent p.publicationDate {
  font-size: 0.7rem;
  margin: 1rem 0;
  color: var(--font-darker);
}

.blogHeader > .blogContent .markdownContent {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  width: auto;
}

.blogContent .markdownContent > h1,
.blogContent .markdownContent > h2,
.blogContent .markdownContent > h3,
.blogContent .markdownContent > h4,
.blogContent .markdownContent > h5,
.blogContent .markdownContent > h6 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--font-darker);
  padding: 0.25rem 0;
  line-height: 1.2rem;
}

/* ---------------------- media phone ---------------------- */

@media screen and (max-width: 767px) {
  .blogPage .blogHeader {
    background: rgba(255, 255, 255, 0.75);
    width: 90vw;
  }
  .blogHeader .blogContent {
    margin: 2rem 1rem;
  }
  .blogHeader .blogContent h2 {
    border-bottom: 1px solid var(--accent-primary);
    color: var(--accent-primary);
    margin-bottom: 1rem;
    padding: 0;
    width: 100%;
    text-align: left;
  }
}

/* ---------------------- media tablet ---------------------- */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .blogPage .blogHeader {
    background: rgba(255, 255, 255, 0.75);
    width: 90vw;
  }
  .blogHeader .blogContent {
    margin: 1.5rem 1rem;
  }
  .blogHeader .blogContent h2 {
    color: var(--accent-primary);
    border-bottom: 1px solid var(--accent-primary);
    margin-bottom: 1rem;
    width: 100%;
    padding: 0;
    padding-bottom: 0.5rem;
    text-align: left;
  }
}
