html {
  scroll-snap-type: y proximity;
  background: var(--light);
}

#aboutUs,
#reviews,
#service,
#location {
  position: relative;
}

/* ---------------------- header ---------------------- */

header {
  height: 100vh;
  background: url(/headerBanner.jpg) center/cover no-repeat;
  scroll-snap-align: start;
  width: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
}

header div:first-child {
  justify-content: flex-start;
}

header h1 {
  font-size: 5rem;
  color: var(--font-light);
  white-space: nowrap;
  padding: 0 10rem;
  animation: slideLeft 45s linear infinite;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

header div:nth-child(2) {
  align-items: center;
  justify-content: center;
  padding: 1rem 0 5rem;
}

#servicingIcon {
  width: 50px;
  height: 50px;
  fill: var(--accent-primary);
  margin-right: 3rem;
}

header h2 {
  color: var(--accent-primary);
  font-size: 1.7rem;
}

header p {
  color: var(--font-light);
}

header button {
  color: var(--font-light);
  font-size: 1.2rem;
  letter-spacing: 2px;
  background: transparent;
  padding: 1rem 3rem;
  margin-top: 1rem;
  border-radius: 2rem;
  border: 3px solid var(--font-light);
  cursor: pointer;
  transition:
    background,
    transform 0.3s ease;
}

header button:hover,
header button:focus {
  transform: scale(1.1);
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(1);
  -webkit-backdrop-filter: blur(1);
}

header button div.flex {
  align-items: center;
}

header #phoneIcon {
  width: 25px;
  height: 25px;
  fill: var(--font-light);
  margin-right: 1rem;
}

header button:hover #phoneIcon,
header button:focus #phoneIcon {
  animation: shake 0.5s ease;
}

@keyframes shake {
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0);
  }
}

.address {
  position: absolute;
  left: 3rem;
  bottom: 2rem;
  align-items: flex-end;
}

.address #locationIcon {
  width: 18px;
  height: 18px;
  fill: grey;
  margin-right: 1.5rem;
  transition:
    transform 0.5s ease,
    translateY 0.5s ease;
}
.address #locationIcon:hover,
.address #locationIcon:focus {
  transform: scale(1.2) translateY(-0.4rem);
  cursor: pointer;
}

.address p {
  color: grey;
  font-size: 0.8rem;
}

/* ---------------------- aboutUs ---------------------- */

#aboutUs {
  height: 130vh;
  align-items: center;
  justify-content: flex-end;
}

#aboutUs .photos {
  height: 60%;
}

#aboutUs .photos img {
  width: auto;
  height: 100%;
  max-height: 50rem;
  margin: auto 0;
  margin-right: 2rem;
}

#aboutUs .header {
  align-items: left;
  padding: 0 clamp(2rem, 5%, 25rem);
  min-width: 65vw;
  justify-content: center;
  text-align: center;
}

#aboutUs .header h2 {
  padding-bottom: 1rem;
  color: var(--accent-secondary);
  font-weight: 900;
  letter-spacing: 2px;
}

#aboutUs .header h3 {
  color: rgb(209, 209, 209);
}

#aboutUs .header h3:nth-of-type(2) {
  color: var(--font-darker);
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

#aboutUs .subHeader {
  padding: 0 5rem;
  margin-bottom: 8%;
}

#aboutUs .subHeader p {
  text-align: left;
  color: var(--font-dark);
  letter-spacing: 1px;
  line-height: 1.3rem;
}

#aboutUs .subHeader p {
  margin-bottom: 1rem;
}

#aboutUs .subHeader h3 {
  color: var(--font-darker);
  letter-spacing: 1px;
  font-size: 0.8rem;
  text-align: left;
  font-weight: 700;
  margin-bottom: 3rem;
}

/* ---------------------- review ---------------------- */

#reviews {
  color: var(--font-dark);
  text-align: left;
}

/* ---------------------- services ---------------------- */

#service {
  padding: 0 5vw;
  justify-content: space-evenly;
  background: url(/service.jpg) center/cover no-repeat;
  background-attachment: fixed;
  height: 60vh;
  width: 100%;
  align-items: center;
}

#service .header {
  width: 40%;
}

#service .title h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: var(--font-light);
  letter-spacing: 2px;
}

#service .title p {
  color: var(--font-light);
}

#service .header button {
  border: none;
  margin-top: clamp(2rem, 10vw, 5rem);
  background: white;
  white-space: nowrap;
  color: black;
  padding: 0.8rem 4rem;
  cursor: pointer;
  border-radius: 0.3rem;
  transition: all 1s ease;
}

#service .header button:hover,
#service .header button:focus {
  transform: translateX(2rem);
  color: var(--accent-primary);
}

#service .listOfServices {
  width: fit-content;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.3);
  backdrop-filter: blur(1rem);
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 2rem 3rem;
}

#service a {
  text-decoration: none;
}

#service .serviceContainer {
  align-items: center;
}

#service .serviceContainer h3 {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgb(209, 209, 209);
  margin: 0 2rem;
  transition: color 0.5s ease;
}

#service .serviceContainer:hover h3,
#service .serviceContainer:focus h3 {
  color: var(--accent-primary);
}

#service .serviceContainer:hover div,
#service .serviceContainer:focus div {
  transform: translateY(-5px);
}

#service .serviceContainer div {
  height: 50px;
  width: 50px;
  transition: transform 0.5s ease;
}

#serviceOutlineIcon,
#shopOutlineIcon,
#dataRecoveryOutlineIcon,
#internetOutlineIcon {
  width: 45px;
  height: 45px;
  fill: var(--accent-primary);
}

#dataRecoveryOutlineIcon {
  width: 40px;
  height: 40px;
}

/* ---------------------- location ---------------------- */

#location {
  justify-content: center;
  align-items: flex-start;
  padding: 8rem 5rem 6rem;
}

#location .map iframe {
  border: none;
  border-radius: 10px;
}

#location .title {
  width: 40vw;
  text-align: left;
  margin-right: 1rem;
}

#location .title h2 {
  font-size: 4rem;
  margin: 1rem 0 3rem;
  color: var(--accent-primary);
}

#location .title p {
  color: var(--font-dark);
  font-size: 0.8rem;
  margin-bottom: 1rem;
  width: 60%;
}

/* ---------------------- media phone ---------------------- */

@media screen and (max-width: 767px) {
  .homePage {
    overflow-x: hidden;
  }
  .address {
    left: 1rem;
  }
  header h1 {
    font-size: 3rem;
    padding: 0 2rem;
  }
  #servicingIcon {
    margin-right: 2rem;
  }
  header h2 {
    text-wrap: wrap;
    width: 60vw;
    font-size: 1.5rem;
  }
  #aboutUs {
    flex-direction: column;
    height: fit-content;
    margin: 5rem 0;
  }
  #aboutUs .photos {
    display: none;
  }
  #aboutUs .subHeader {
    padding: 0 0 2rem;
  }
  #service {
    padding: 0;
    height: auto;
    position: relative;
    justify-content: center;
    background-attachment: unset;
  }
  #service .header {
    width: 60vw;
    padding: 3rem 2rem;
  }
  #service .header h2 { 
    font-size: 1.5rem;
  }
  #service .listOfServices {
    flex-direction: column;
    height: auto;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0.5rem;
    backdrop-filter: none;
    
  }
  #service .serviceContainer {
    width: min-content;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5rem 0;
  }
  #service .serviceContainer h3 {
    margin: 0;
    white-space: wrap;
    color: var(--accent-primary);
  }
  #service .header button {
    border: none;
    margin-top: clamp(2rem, 10vw, 5rem);
    background: white;
    white-space: wrap;
    color: black;
    padding: 0.8rem 1rem;
    cursor: pointer;
    border-radius: 0.3rem;
    transition: all 1s ease;
    font-size: 0.8rem;
  }
  #serviceOutlineIcon,
  #shopOutlineIcon,
  #dataRecoveryOutlineIcon,
  #internetOutlineIcon {
    width: 35px;
    height: 35px;
    fill: var(--accent-primary);
  }
  #dataRecoveryOutlineIcon {
    width: 30px;
    height: 30px;
  }
  #location {
    flex-direction: column;
    padding: 0 1rem;
    margin-bottom: 2rem;
    align-items: center;
  }
  #location .title {
    width: 80%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  #location .title p {
    width: 100%;
  }
  #location .title h2 {
    font-size: 2rem;
  }
  #location .map iframe {
    width: 90vw;
  }
}

/* ---------------------- media tablet ---------------------- */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .address {
    left: 1rem;
  }
  header h2 {
    text-wrap: wrap;
    width: 70vw;
  }
  #aboutUs {
    flex-direction: column;
    height: fit-content;
    margin: 5rem 0;
  }
  #aboutUs .photos {
    display: none;
  }
  #aboutUs .subHeader {
    padding-bottom: 2rem;
  }
  #service {
    flex-direction: column;
    height: auto;
    padding: 0;
  }
  #service .header {
    width: 80%;
    padding: 5rem 0;
  }
  #service .listOfServices {
    flex-direction: row;
    height: auto;
    padding: 3rem 2rem;
    width: 100%;
  }
  #service .serviceContainer {
    flex-direction: column;
    text-align: center;
    width: min-content;
  }
  #service .serviceContainer h3 {
    margin: 0;
    white-space: wrap;
    margin-top: 1rem;
  }
  #location {
    flex-direction: column;
    padding: 0 1rem;
    align-items: center;
    margin-bottom: 2rem;
  }
  #location .title {
    width: 80%;
    margin-right: 0;
    margin-bottom: 2rem;
    padding: 0 2rem;
  }
  #location .title p {
    width: 100%;
  }
  #location .map iframe {
    width: 90vw;
  }
}

/* ---------------------- media large desktop ---------------------- */

@media screen and (min-width: 2000px) {
  header h1 {
    font-size: 8rem;
  }
  header h2 {
    font-size: 2.5rem;
  }
  header button {
    font-size: 5rem;
  }
}
