.logoSlidingContainer {
    background: var(--light);
    overflow: hidden;
    width: 100%;
    height: 25vh;
    /* gap: 5rem; */
    padding: 5vh 0;
    justify-content: flex-start;
  }
  
  .logos {
    width: 100%;
    gap: 5rem;
    animation: 20s slide linear infinite;
    padding: 0 3rem;
  }
  
  .logos .logo {
    width: 400px;
    height: 100%;
    /* height: 400px; */
  }
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logo.amd {
    background: url(/techLogoBackground/amd.png) center/contain no-repeat;
  }
  .logo.apple {
    background: url(/techLogoBackground/apple.png) center/contain no-repeat;
    transform: scale(0.5);
  }
  .logo.asus {
    background: url(/techLogoBackground/asus.png) center/contain no-repeat;
    /* transform: scale(1.2); */
  }
  .logo.dell {
    background: url(/techLogoBackground/dell.png) center/contain no-repeat;
  }
  .logo.intel {
    background: url(/techLogoBackground/intel.png) center/contain no-repeat;
    transform: scale(0.5);
  }
  .logo.kingston {
    background: url(/techLogoBackground/kingston.png) center/contain
      no-repeat;
    transform: scale(1.2);
  }
  .logo.nvidia {
    background: url(/techLogoBackground/nvidia.png) center/contain
      no-repeat;
    /* transform: scale(1.2); */
  }
  
  .flex {
    display: flex;
  }
  